<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:text="${course.id + ' Details'}">...</title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" th:href="@{/css/course.css}" />
  </head>

  <body>
    <div class="wrapper">
      <header>
        <br/>
        <h1 th:text="${course.title}">title goes here</h1>
        <nav>
          <ul>
            <li><a href="#" class="current">home</a></li>
            <li><a th:href="@{/course/basic(id=${course.id})}">basics</a></li>
            <li><a th:href="@{/course/lecture(id=${course.id})}">lectures</a></li>
            <li><a th:href="@{/course/task(id=${course.id})}">tasks</a></li>
            <li><a th:href="@{/course/staff(id=${course.id})}">staff</a></li>
          </ul>
        </nav>
      </header>
      
      <section class="courses">
        <article>
          <figure>
            <img th:src="@{/images/courses/} + ${course.id.toLowerCase() + '.jpg'}" />
          </figure>
          <hgroup>
            <h2>Course Description</h2>
          </hgroup>
          <p th:text="${course.description}">description</p>
        </article>
      </section>
      
      <aside>
        <section class="useful-links">
          <h2>Useful Links</h2>
          <a href="https://bit.ly/2ZLaRRA">Learning Videos</a>
          <a href="#">Link II</a>
          <a href="#">Link III</a>
        </section>
      </aside>
 
      <footer>
        All content &amp; design &copy; Course Integrator, 2019-2020.
      </footer>
    </div><!-- .wrapper -->

  </body>
</html>
