<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/home.css}" />
  </head>
  
  <body>
    <header>
      <h1 id="top">Course Integrator</h1>
      <nav>
        <ul>
          <li><a href="#" class="current">Home</a></li>
          <li><a th:href="@{/warehouse}">Warehouse</a></li>
          <li><a th:href="@{/about}">About</a></li>
          <li><a th:href="@{/contact}">Contact</a></li>
        </ul>
      </nav>
    </header>
    
    
  </body>
</html>