<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Login</title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" th:href="@{/css/authenticate.css}" />
  </head>
  
  <body>
    <form method="POST" th:action="@{/login}" id="loginForm">
      <div>
        <label for="username" class="required">Username: </label>
        <input type="text" name="username" id="username" 
        placeholder="Your Account" autofocus required />
      </div>

      <div>
        <label for="password" class="required">Password: </label>
        <input type="password" name="password" id="password" 
        placeholder="Your Secret" required />
      </div>
      
      <div>
        <input type="submit" value="Login"/>
      </div>
    </form>
    
    <script th:src="@{/js/jquery-3.4.1.js}"></script>
    <script th:src="@{/js/authenticate.js}"></script>
  </body>
</html>
