<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Sign In</title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" th:href="@{/css/authenticate.css}" />
  </head>
  
  <body>
    <section class="login">
      <div class="title">Course Integrator</div>
      <form method="POST" th:action="@{/login}" id="loginForm">
        <div>
          <input type="text" id="username" name="username" 
            title="5 characters at least" placeholder="Username" required />
        </div>

        <div>
          <input type="password" id="password" name="password"
            title="8 characters at least" placeholder="Password" required />
        </div>
        
        <div>
          <a th:href="@{/register}" title="Register">New Here?</a>
          <a href="#" title="Recover">Fotgot Password?</a>
        </div>
        
        <input type="submit" value="Sign In"/>
      </form>
    </section>
    
  </body>
</html>
