<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Sign Up</title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" th:href="@{/css/authenticate.css}" />
  </head>
  
  <body>
    <section class="login">
      <div class="title">Course Integrator</div>
      <form method="POST" th:action="@{/register}" id="registerForm">
        <div>
          <input type="text" id="username" name="username" 
            title="5 characters at least" placeholder="Username" required />
          <span id="usernameHint" class="verify-fail"></span>
        </div>

        <div>
          <input type="password" id="password" name="password"
            title="8 characters at least" placeholder="Password" required />
          <span id="passwordHint" class="verify-fail"></span>
        </div>
      
        <div>
          <input type="password" id="confirm" name="confirm" 
            title="8 characters at least" placeholder="Confirm Password" required />
          <span id="confirmHint" class="verify-fail"></span>
        </div>

        <input type="submit" value="Sign Up"/>
      </form>
    </section>
    
    <script th:src="@{/js/jquery-3.4.1.js}"></script>
    <script th:src="@{/js/authenticate.js}"></script>
  </body>
</html>
